#contactSection {
    background: rgb(241, 241, 241) !important;
}

.map-responsive{
  overflow:hidden;
  position:relative;
}

#contactSection iframe {
    position: relative;
    overflow: hidden;
    left:0;
    top:0;
}

@media only screen and (max-width: 1024px) {
    .donde {
      padding-top: 2rem;
      text-align: center;
    }
    .form h3 {
      text-align: center;
    }
    iframe {
      text-align:center;
  		width:100%;
    }
  }
  
  @media only screen and (max-width: 580px) {
    .donde {
      padding-top: 2rem;
      text-align: center;
    }
    .form h3 {
      text-align: center;
    }
  }