#contactSection {
    background: rgb(241, 241, 241) !important;
}

#contactSection iframe {
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 1024px) {
    .nav_styling--index {
      background-position: 70% 50% !important;
    }
    .section1 .index__video iframe {
      height: 75%;
      width: 75%;
    }
  }
  
  @media only screen and (max-width: 580px) {
    .nav_styling--index {
      background-position: 85% 50% !important;
    }
    .section1 .index__video iframe {
      height: 75%;
      width: 75%;
    }
  }