// EXTEND PROP

%custom_nav_properties {
    background-size: cover;
    background-position: center center;
    font-family: $font1;
    font-size: 18px;    
}

// INDEX HEADER

header {
    & .nav_styling--index {
        @extend %custom_nav_properties;
        height: 800px;
        background-image: url("../multimedia/index_background3.jpg");
        & .navbar {
            background: rgba(0, 0, 0, 0) !important;
            & .navbar-brand {
                font-family: $font1;
                font-size: 40px;
                color: white !important;
                & .nav-link {
                    color: rgba(0, 0, 0, 0.658) !important;
                        &:hover {
                        color: white !important;
                    }
                }
            }
        }        
    }
}

// REST OF THE HEADERS

header {
    & .nav_styling {
        @extend %custom_nav_properties;
        background: rgb(0, 0, 0) !important;
        & .navbar {
            background: rgba(0, 0, 0, 0) !important;
            & .navbar-brand {
                font-family: $font1;
                font-size: 40px;
                color: white !important;
                & .nav-link {
                    color: rgba(0, 0, 0, 0.658) !important;
                        &:hover {
                        color: white !important;
                    }
                }
            }
        }        
    }
}

