.index__video {
    color: orange;
    font-size: 40px;
}

.section1 {
    background-image: url("../multimedia/video_background_image.JPG");
    background-size: cover;
    background-position: center center;
    font-family: $font1;
    color: orange;
    font-size: 40px;
    height: 700px;
}

.section span:hover {
    color: rgb(255, 188, 62);
    background-color: black;
}
  
  .section1 {
    height: 600px;
    background-image: url("../multimedia/video_background_image.JPG");
    background-size: cover;
    background-position: center center;
    color: #ffa600;
    font-size: 1.5rem;
  }
  
  .section1 .seeMore span {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 20px 5px 20px;
    margin-top: 50px;
    transition: all 1s;
  }
  
  .section1 span:hover {
    color: #ffbe47;
  }
  
  @media only screen and (max-width: 1024px) {
    .nav_styling--index {
      background-position: 70% 50% !important;
    }
    .section1 .index__video iframe {
      height: 75%;
      width: 75%;
    }
  }
  
  @media only screen and (max-width: 580px) {
    .nav_styling--index {
      background-position: 85% 50% !important;
    }
    .section1 .index__video iframe {
      height: 75%;
      width: 75%;
    }
  }