.index__video {
    color: map-get($map: $palette, $key: 'naranja');;
    font-size: 40px;
    text-decoration: underline;
}

.section1 {
    background-image: url("../multimedia/video_background_image.JPG");
    background-size: cover;
    background-position: center center;
    font-family: $font1;
    color: map-get($map: $palette, $key: 'naranja');
    font-size: 40px;
    height: 700px;
}

@mixin custom_button_padding ($paddingTop, $paddingLeft, $paddingBottom, $paddingRight {
    padding-top: $paddingTop;
    padding-right: $paddingRight;
    padding-bottom: $paddingBottom;
    padding-left: $paddingLeft;
})

.section span {
    @include cusotm_button_padding(5px, 20px, 5px, 20px);
    background-color: map-get($map: $palette, $key: 'blanco');
    transition: all 2s;
}

.section span:hover {
    color: rgb(255, 188, 62);
    background-color: map-get($map: $palette, $key: 'negro');
}



/* @media only screen and (max-width: 580px) {
    .section1 {
        width: 100%;
        height: 300px;
    }
    .section1 .index__video iframe {
        height: 157.5px;
        width: 280px;
    }
    .section1 .index__video {
        padding-top: 75px;
    }
} */


