.landscapes {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  #landscapes__row1 {
    margin-top: 3rem;
  }
  
  .events {
    margin-bottom: 3rem;
  }
  
  .weddings {
    margin-bottom: 3rem;
  }
  
  .portraits {
    margin-bottom: 3rem;
  }
  
  #trabajos h2 {
    font-weight: 100;
  }

  .foto:hover {
    transform: scale(2);
    transition: all 0.9s;
}