header .nav_styling--index, header .nav_styling--trabajos, header .nav_styling {
  background-size: cover;
  background-position: center center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

header .nav_styling--index {
  height: 800px;
  background-image: url("../multimedia/index/index_main_background.webp");
}

header .nav_styling--index .navbar {
  background: rgba(0, 0, 0, 0) !important;
}

header .nav_styling--index .navbar .navbar-brand {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  color: white !important;
}

header .nav_styling--index .navbar .navbar-brand .nav-link {
  color: rgba(0, 0, 0, 0.658) !important;
}

header .nav_styling--index .navbar .navbar-brand .nav-link:hover {
  color: white !important;
}

header .nav_styling--trabajos {
  background: white !important;
}

header .nav_styling--trabajos .navbar {
  background: white !important;
}

header .nav_styling--trabajos .navbar .navbar-brand {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  color: black !important;
}

header .nav_styling--trabajos .navbar .navbar-brand .nav-link {
  color: white !important;
}

header .nav_styling--trabajos .navbar .navbar-brand .nav-link:hover {
  color: white !important;
}

header .nav_styling {
  background: black !important;
}

header .nav_styling .navbar {
  background: rgba(0, 0, 0, 0) !important;
}

header .nav_styling .navbar .navbar-brand {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  color: white !important;
}

header .nav_styling .navbar .navbar-brand .nav-link {
  color: rgba(0, 0, 0, 0.658) !important;
}

header .nav_styling .navbar .navbar-brand .nav-link:hover {
  color: white !important;
}

#navbarscroll.scrolled {
  background: black !important;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.navbar-brand:hover {
  background-color: white;
  -webkit-transform: scale(1.5, 0);
          transform: scale(1.5, 0);
  /* Equal to scaleX(2) scaleY(0.5) */
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.index__video {
  color: orange;
  font-size: 40px;
}

.section1 {
  height: 50rem;
  color: #ffa600;
  font-size: 1.5rem;
}

.videocontent {
  bottom: 0;
  background: rgba(0, 0, 0, 0.363);
  width: 100%;
  padding: 20px;
}

.section1 .seeMore button {
  background-color: rgba(255, 255, 255, 0.089);
  color: #ffa600;
  padding: 5px 20px 5px 20px;
  margin-top: 50px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.section1 button:hover {
  color: #ffbe47;
}

#background-video {
  width: 100vw;
  margin: 0;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.carousel-item {
  height: 50rem;
  background: white;
  background-position: bottom;
  background-size: cover;
}

.carousel-item img {
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 1240px) {
  .carousel-item {
    height: 42rem;
  }
}

@media only screen and (max-width: 1120px) {
  .carousel-item {
    height: 30rem;
  }
}

@media only screen and (max-width: 1024px) {
  .nav_styling--index {
    background-position: 70% 50% !important;
  }
  .section1 .index__video iframe {
    height: 75%;
    width: 75%;
  }
  .carousel-item {
    height: 27rem;
  }
}

@media only screen and (max-width: 850px) {
  .carousel-item {
    height: 25rem;
  }
}

@media only screen and (max-width: 700px) {
  .carousel-item {
    height: 23rem;
  }
}

@media only screen and (max-width: 580px) {
  .nav_styling--index {
    background-position: 85% 50% !important;
  }
  .section1 .index__video iframe {
    height: 75%;
    width: 75%;
  }
  .carousel-item {
    height: 20rem;
  }
}

@media (min-aspect-ratio: 16 / 9) {
  #background-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  #background-video {
    width: auto;
    height: 100%;
  }
}

header .nav_styling--index .navbar {
  background: rgba(0, 0, 0, 0) !important;
}

header .nav_styling--index .navbar .navbar-brand {
  font-size: 40px;
}

header .nav_styling--index .navbar .navbar-brand .nav-link {
  color: rgba(0, 0, 0, 0.658) !important;
}

.team-boxed {
  color: #313437;
  background-color: black;
}

.team-boxed p {
  color: #7d8285;
}

.team-boxed h2 {
  font-weight: bold;
  margin-bottom: 4rem;
  color: white;
}

.team-boxed .people {
  padding: 50px 0;
}

.team-boxed .social {
  font-size: 18px;
  color: #a2a8ae;
}

.team-boxed .social a {
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
}

.team-boxed .social a:hover {
  opacity: 1;
}

.team-boxed .item {
  text-align: center;
}

.team-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
}

.team-boxed .item .name {
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 8px;
  color: inherit;
}

.team-boxed .item .title {
  text-transform: uppercase;
  font-weight: bold;
  color: #d0d0d0;
  letter-spacing: 2px;
  font-size: 13px;
}

.team-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.team-boxed .item img {
  max-width: 160px;
}

@media (max-width: 767px) {
  .team-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

#contactSection {
  background: #f1f1f1 !important;
}

.map-responsive {
  overflow: hidden;
  position: relative;
}

#contactSection iframe {
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
}

@media only screen and (max-width: 1024px) {
  .donde {
    padding-top: 2rem;
    text-align: center;
  }
  .form h3 {
    text-align: center;
  }
  iframe {
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 580px) {
  .donde {
    padding-top: 2rem;
    text-align: center;
  }
  .form h3 {
    text-align: center;
  }
}

.trabajos {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.trabajos {
  visibility: hidden;
}

.fadeIn {
  -webkit-animation: animat_show 0.8s;
  animation: animat_show 0.8s;
  visibility: visible !important;
}

@-webkit-keyframes animat_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.row1col1height1 {
  height: 20rem;
}

.row1col2height1 {
  height: 60rem;
}

.row2col1height1 {
  height: 80rem;
}

.row2col2height1 {
  height: 20rem;
}

body {
  overflow-x: hidden !important;
  /* Hide horizontal scrollbar */
}

@media only screen and (max-width: 850px) {
  .row1col1height1 {
    height: 20rem;
  }
  .row1col2height1 {
    height: 20rem;
  }
  .row2col1height1 {
    height: 20rem;
  }
  .row2col2height1 {
    height: 20rem;
  }
}

.landscapes {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#landscapes__row1 {
  margin-top: 3rem;
}

.events {
  margin-bottom: 3rem;
}

.weddings {
  margin-bottom: 3rem;
}

.portraits {
  margin-bottom: 3rem;
}

#trabajos h2 {
  font-weight: 100;
}

.foto:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

@-webkit-keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.scrollToTopBtn {
  background-color: black;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 3rem;
  width: 3rem;
  /* place it at the bottom right corner */
  position: fixed;
  bottom: 30px;
  right: 30px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  /* and a transition */
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.showBtn {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.scrollToTopBtn:hover {
  cursor: pointer;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -moz-animation-name: bounce;
}
/*# sourceMappingURL=estilos.css.map */