@import "variables";
@import "header";
@import "index";
@import "about";
@import "contact";
@import "trabajos";

body {
    background-color: white;
    font-family: $font1;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}