header .nav_styling--index, header .nav_styling {
  background-size: cover;
  background-position: center center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

header .nav_styling--index {
  height: 800px;
  background-image: url("../multimedia/index_background3.jpg");
}

header .nav_styling--index .navbar {
  background: rgba(0, 0, 0, 0) !important;
}

header .nav_styling--index .navbar .navbar-brand {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  color: white !important;
}

header .nav_styling--index .navbar .navbar-brand .nav-link {
  color: rgba(0, 0, 0, 0.658) !important;
}

header .nav_styling--index .navbar .navbar-brand .nav-link:hover {
  color: white !important;
}

header .nav_styling {
  background: black !important;
}

header .nav_styling .navbar {
  background: rgba(0, 0, 0, 0) !important;
}

header .nav_styling .navbar .navbar-brand {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  color: white !important;
}

header .nav_styling .navbar .navbar-brand .nav-link {
  color: rgba(0, 0, 0, 0.658) !important;
}

header .nav_styling .navbar .navbar-brand .nav-link:hover {
  color: white !important;
}

.index__video {
  color: orange;
  font-size: 40px;
}

.section1 {
  background-image: url("../multimedia/video_background_image.JPG");
  background-size: cover;
  background-position: center center;
  font-family: "Open Sans", sans-serif;
  color: orange;
  font-size: 40px;
  height: 700px;
}

.section span:hover {
  color: #ffbc3e;
  background-color: black;
}

.section1 {
  height: 600px;
  background-image: url("../multimedia/video_background_image.JPG");
  background-size: cover;
  background-position: center center;
  color: #ffa600;
  font-size: 1.5rem;
}

.section1 .seeMore span {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 20px 5px 20px;
  margin-top: 50px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.section1 span:hover {
  color: #ffbe47;
}

@media only screen and (max-width: 1024px) {
  .nav_styling--index {
    background-position: 70% 50% !important;
  }
  .section1 .index__video iframe {
    height: 75%;
    width: 75%;
  }
}

@media only screen and (max-width: 580px) {
  .nav_styling--index {
    background-position: 85% 50% !important;
  }
  .section1 .index__video iframe {
    height: 75%;
    width: 75%;
  }
}

header .nav_styling--index .navbar {
  background: rgba(0, 0, 0, 0) !important;
}

header .nav_styling--index .navbar .navbar-brand {
  font-size: 40px;
}

header .nav_styling--index .navbar .navbar-brand .nav-link {
  color: rgba(0, 0, 0, 0.658) !important;
}

.team-boxed {
  color: #313437;
  background-color: black;
}

.team-boxed p {
  color: #7d8285;
}

.team-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

.team-boxed .people {
  padding: 50px 0;
}

.team-boxed .social {
  font-size: 18px;
  color: #a2a8ae;
}

.team-boxed .social a {
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
}

.team-boxed .social a:hover {
  opacity: 1;
}

.team-boxed .item {
  text-align: center;
}

.team-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
}

.team-boxed .item .name {
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 8px;
  color: inherit;
}

.team-boxed .item .title {
  text-transform: uppercase;
  font-weight: bold;
  color: #d0d0d0;
  letter-spacing: 2px;
  font-size: 13px;
}

.team-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.team-boxed .item img {
  max-width: 160px;
}

@media (max-width: 767px) {
  .team-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

#contactSection {
  background: #f1f1f1 !important;
}

#contactSection iframe {
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  .nav_styling--index {
    background-position: 70% 50% !important;
  }
  .section1 .index__video iframe {
    height: 75%;
    width: 75%;
  }
}

@media only screen and (max-width: 580px) {
  .nav_styling--index {
    background-position: 85% 50% !important;
  }
  .section1 .index__video iframe {
    height: 75%;
    width: 75%;
  }
}

.landscapes {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#landscapes__row1 {
  margin-top: 3rem;
}

.events {
  margin-bottom: 3rem;
}

.weddings {
  margin-bottom: 3rem;
}

.portraits {
  margin-bottom: 3rem;
}

#trabajos h2 {
  font-weight: 100;
}

.foto:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
/*# sourceMappingURL=estilos.css.map */